#seitenkopf { 
    background: orange;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}

#kalenderblatt {
    grid-column-start: 2;
    grid-column-end: 4;
    border-bottom: 1px solid orange;
    border-left: 1px solid orange;
}

#kalenderblatt table {
    margin: 30px auto; 
    border-top: 1.5px solid orangered ;
    border-right: 1.5px solid orangered;
    border-bottom: 1.5px solid orangered;
    border-left: 1.5px solid orangered;
    border-spacing: inherit;
    border-collapse: collapse;
}

#kalenderblatt table th {
        border-left: 1.5px solid orangered;
        border-bottom: 1.5px solid orangered;
}

#kalenderblatt table td.mo,
td.di,
td.mi,
td.do,
td.fr,
td.sa,
td.so {
    text-align: center;
    padding: 0.25em;
    cursor: pointer;
    width: 20px;
}

#kalenderblatt td.sa {
    color: blue;
}

#kalenderblatt td.so {
    color: red;
}

#kalenderblatt table thead tr th {
    background-color: orange;
    border-top: 1.5px solid orangered;
}

th.kw,
th.mo,
th.di,
th.mi,
th.do,
th.fr {
    background: orange;
    font-weight: lighter;
}

th.sa,
th.so {
    background: orange;
}

#kalenderblatt td.heute {
    background: lightsalmon;
}

#kalenderblatt td:hover {
    background: lightyellow;
}

#kalenderblatt td.heute:hover {
    background: lightsalmon;
}

#kalenderblatt td.kw:hover {
    background: unset;
}

#kalenderblatt td.feiertag {
    background: lightcoral;
}

#kalenderblatt td.feiertag:hover {
	background: lightcoral;
}

#introtext {
    padding: 1em;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 1em;
}


#historie {
    padding: 1em;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 1em;

}

#debug {
    grid-column-start: 2;
    grid-column-end: 3;
    border-left: 1px solid orange;
    border-bottom: 1px solid orange;
    background: lightcoral;
}

.kw {
    font-size: smaller;
    text-align: center;
    border-right: 1.5px solid orangered;
}




body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0;
}

span {
    background: lightcoral;
}

.style1{
    background-color:red;
    color:white;
}

.selectable {
	cursor: pointer;
}



 /* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: orange;
  color: #444;
  cursor: pointer;
  border: none;
  width: 100%;
  text-align: auto;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: lightcoral;
}

/* Style the collapsible content. Note: hidden by default */
#debug {
  display: none;
  overflow: hidden;
} 